@font-face{
    font-family: 'Makcasa';
    src: url(fonts/Makcasa-Regular.ttf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Pixel';
    src: url(fonts/the-libra-heart-font.ttf) format('opentype');
    font-weight: 400;
    font-style: normal;
}