@import url(fontes.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --amarelinho: #faff64;
    --azul: #255ec0;
    --azulescuro: #0E1957;
    --preto: #1a0600;
    --branco: white;
    --darkmodebranco: white;
    --darkmodepreto: black;
    --azulclaro: rgb(118, 177, 255);
}

.navegacao{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.0rem;
    background: rgba(0, 59, 162, 0.656);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255,255,255,0.15);
    z-index: 100;
}

body.dark .navegacao {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.0rem;
    background: rgba(0, 0, 1, 0.604);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.358);
    z-index: 100;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link{
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
    position: relative;
    padding: 0.4rem 0;
}

.menu-link.dark{
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
    position: relative;
    padding: 0.4rem 0;
}

.menu-link::after{
    content:'';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--branco), var(--amarelinho));
    transition: width 0.3s ease;
}

.menu-link:hover::after{
    width: 100%;
}

.introducao{
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.pfp{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:50%;
    animation: flutuar 4s ease-in-out infinite;
}

.pfp:hover{
    box-shadow: 0 0 25px rgba(235, 255, 58, 0.844);
}

.projetos-card:hover{
    transform:
        translateY(-10px)
        scale(1.02);
    box-shadow:
    0 20px 40px rgba(0,0,0,0.15);
}

.introducao{
    animation: aparecer 1s ease;
}

@keyframes aparecer{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.projetos-caixa{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.projetos-imagem{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.info-projetos,
.paragrafo-projetos{
    padding-left: 1rem;
    padding-right: 1rem;
}

.info-projetos{
    margin-top: 1rem;
}

.paragrafo-projetos{
    margin-bottom: 1rem;}

.projetos-card{
    width: 350px;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    transition: .4s;
}

body{
    min-height: 100vh;
    background:
        radial-gradient(
            circle at top,
            #d2e3ff,
            #ffffff
        );
    color: var(--azul);
}

body.dark{
    min-height: 100vh;
    background:
        radial-gradient(
            circle at top,
            var(--azulescuro),
            var(--darkmodepreto)
        );
    color: var(--azulclaro);
}

.nome{
    font-family: 'Makcasa';
    font-weight: 400;
    font-size: 40px;
    color: var(--azul)
}

body.dark .nome {
    color: var(--amarelinho);
}

.sobre{
    text-align: center;
    scroll-margin-top: 100px;
    padding-bottom: 150px;
}

.sobre-titulo.dark {
    color: var(--azulclaro);
}

.titulo-sobre{
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'Makcasa';
    font-size: 30px;
}

.sobre-texto{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

body.dark .sobre-texto {
    color: var(--darkmodebranco);
}

.projetos-titulo{
    font-family: 'Makcasa';
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    scroll-margin-top: 100px;
    font-size: 30px;
}

.simbolosdivider{
    text-align: center;
    margin-bottom: 2rem;
}

.projetos{
    padding-top: 4rem;
    scroll-margin-top: 100px;
}

body.dark .projetos-card {
    background: var(--darkmodepreto);
    color: var(--darkmodebranco);
}

.botao-tema {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.4rem;
    color: var(--branco);
}

.botao-tema.dark {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.4rem;
    color: var(--darkmodebranco);
}

/* nuvens e estrelas - alternar :3 */

.nuvem1, .estrela1 {top:10%; left:15%;}
.nuvem2, .estrela2 {top:25%; right:10%;}
.nuvem3, .estrela3 {top:70%; left:8%;}
.nuvem4, .estrela4 {top:85%; right:20%;}
.nuvem5, .estrela5 {top:18%; left:75%;}
.nuvem6, .estrela6 {top:55%; right:35%;}
.nuvem7, .estrela7 {top:92%; left:60%;}

/* animação de piscar das estrelinhas*/

@keyframes piscar{
    from{
        opacity: .3;
        transform: scale(1);
    }

    to{
        opacity: 1;
        transform: scale(1.2);
    }
}

.estrela{
    position: fixed;
    color: var(--amarelinho);
    font-size: 1.5rem;
    pointer-events: none;
    z-index: -1;
    animation: piscar 3s infinite alternate;
}


.nuvem{
    position: fixed;
    font-size: 4rem;
    opacity: 0.8;
    pointer-events: none;
    z-index: -1;
    color: white;
    animation: moverNuvem 8s ease-in-out infinite;
}

@keyframes moverNuvem{
    0%{transform: translateX(0px);}
    50%{transform: translateX(15px);}
    100%{transform: translateX(0px);}
}

/* Duração das animações etc */

.estrela1{animation-duration: 2s;}
.estrela2{animation-duration: 3s;}
.estrela3{animation-duration: 2.5s;}
.estrela4{animation-duration: 4s;}
.estrela5{animation-duration: 3.5s;}
.estrela6{animation-duration: 2.2s;}
.estrela7{animation-duration: 4.5s;}

.nuvem1{animation: moverNuvem 8s ease-in-out infinite;}
.nuvem2{animation: moverNuvem 10s ease-in-out infinite;}
.nuvem3{animation: moverNuvem 7s ease-in-out infinite;}
.nuvem4{animation: moverNuvem 12s ease-in-out infinite;}

/* modo claro - escuro; mudança dos símbolos*/
.nuvem{
    display: block;
}

.estrela{
    display: none;
}

body.dark .nuvem{
    display: none;
}

body.dark .estrela{
    display: block;
}

/* Github botão projeto */

.github-card{
    width: 500px;
    margin: 2rem auto 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 1rem;

    background: white;
    border-radius: 20px;

    text-decoration: none;
    color: var(--azul);

    box-shadow: 0 8px 20px rgba(0,0,0,0.12);

    transition: .4s;
}

.github-card:hover{
    transform:
        translateY(-10px)
        scale(1.02);

    box-shadow:
        0 20px 40px rgba(0,0,0,0.15);
}

.github-icon{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

body.dark .github-card{
    background: var(--darkmodepreto);
    color: white;
}

body.dark .github-card:hover{
    background: var(--azulescuro);
}

body.dark .github-icon{
    filter: invert(1);
}

/* card do instagram de desenhos */

.instagram-card{
    width: 500px;
    margin: 1.5rem auto 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 1rem;

    background: white;
    border-radius: 20px;

    text-decoration: none;
    color: var(--azul);

    box-shadow: 0 8px 20px rgba(0,0,0,0.12);

    transition: .4s;
}

.instagram-card:hover{
    transform:
        translateY(-10px)
        scale(1.02);

    box-shadow:
        0 20px 40px rgba(0,0,0,0.15);
}

.instagram-icon{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

body.dark .instagram-card{
    background: var(--darkmodepreto);
    color: white;
}

body.dark .instagram-card:hover{
    background: var(--azulescuro);
}

body.dark .instagram-icon{
    filter: invert(1);
}