@import url(fontes.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --amarelinho: #faff64;
    --azul: #255ec0;
    --azulescuro: #0E1957;
    --preto: #1a0600;
    --branco: white;
    --darkmodebranco: white;
    --darkmodepreto: black;
    --azulclaro: rgb(118, 177, 255);
}

.navegacao{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.0rem;
    background: rgba(0, 59, 162, 0.656);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255,255,255,0.15);
    z-index: 100;
}

body.dark .navegacao {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.0rem;
    background: rgba(0, 0, 1, 0.604);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.358);
    z-index: 100;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link{
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
    position: relative;
    padding: 0.4rem 0;
}

.menu-link.dark{
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
    position: relative;
    padding: 0.4rem 0;
}

.menu-link::after{
    content:'';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--branco), var(--amarelinho));
    transition: width 0.3s ease;
}

.menu-link:hover::after{
    width: 100%;
}

.introducao{
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.pfp{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:50%;
    animation: flutuar 4s ease-in-out infinite;
}

.pfp:hover{
    box-shadow: 0 0 25px rgba(235, 255, 58, 0.844);
}

.projetos-card:hover{
    transform:
        translateY(-10px)
        scale(1.02);
    box-shadow:
    0 20px 40px rgba(0,0,0,0.15);
}

.introducao{
    animation: aparecer 1s ease;
}

@keyframes aparecer{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.projetos-caixa{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.projetos-imagem{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.info-projetos,
.paragrafo-projetos{
    padding-left: 1rem;
    padding-right: 1rem;
}

.info-projetos{
    margin-top: 1rem;
}

.paragrafo-projetos{
    margin-bottom: 1rem;}

.projetos-card{
    width: 350px;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    transition: .4s;
}

body{
    min-height: 100vh;
    background:
        radial-gradient(
            circle at top,
            #f7faff,
            #ffffff
        );
    color: var(--azul);
}

body.dark{
    min-height: 100vh;
    background:
        radial-gradient(
            circle at top,
            var(--azulescuro),
            var(--darkmodepreto)
        );
    color: var(--azulclaro);
}

.nome{
    font-family: 'Makcasa';
    font-weight: 400;
    font-size: 40px;
    color: var(--azul)
}

body.dark .nome {
    color: var(--amarelinho);
}

.sobre{
    text-align: center;
    scroll-margin-top: 100px;
    padding-bottom: 150px;
}

.sobre-titulo.dark {
    color: var(--azulclaro);
}

.titulo-sobre{
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'Makcasa';
    font-size: 30px;
}

.sobre-texto{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

body.dark .sobre-texto {
    color: var(--darkmodebranco);
}

.projetos-titulo{
    font-family: 'Makcasa';
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    scroll-margin-top: 100px;
    font-size: 30px;
}

.simbolosdivider{
    text-align: center;
    margin-bottom: 2rem;
}

.projetos{
    padding-top: 4rem;
    scroll-margin-top: 100px;
}

body.dark .projetos-card {
    background: var(--darkmodepreto);
    color: var(--darkmodebranco);
}

.botao-tema {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.4rem;
    color: var(--branco);
}

.botao-tema.dark {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.4rem;
    color: var(--darkmodebranco);
}
